.login-container {
    height: 100%;
    min-width: 1024px;
    padding: 30px 60px;
    background: url(https://app.docsumo.com/static/images/background.9aa59a405e8258d81555.png) no-repeat 100% 100%;
    background-size: cover;
}

@media screen and (min-width: 1440px) {
    .login-container {
        padding: 68px 120px;
    }
}

.login-container > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.login-container  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 165px;
    display: inline-block;
}

.login-container  a  img {
    width: 100%;
}

.form-container {
    width: 548px;
    height: 100%;
    border-radius: 8px;
    padding: 54px 64px 48px;
    background-color: #fff;
    box-shadow: 0 4px 18px rgb(0 0 0 / 25%);
}

.form-container h1 {
    color: #181818;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 7px;
}