.login-container {
    height: 100%;
    min-width: 1024px;
    padding: 30px 60px;
    background: url(https://app.docsumo.com/static/images/background.9aa59a405e8258d81555.png) no-repeat 100% 100%;
    background-size: cover;
}

@media screen and (min-width: 1440px) {
    .login-container {
        padding: 68px 120px;
    }
}

.login-container > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 165px;
    display: inline-block;
}

.login-container  a  img {
    width: 100%;
}